.control{
    display: flex;
    justify-content: space-around;
    margin: 10px;

    label {
        width: 150px;
    }

    input {
        border: solid 1px #ccc;
        padding: 5px 8px;
    }

    input[disabled] {
        background-color: #ddd;
    }
}