:host{
    display: flex;
    width: 500px;
    margin: auto;

    .dashboard{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);

        .dashboard-header{
            background-color: #1f7a98;
            text-align: center;
            color: #fff;
            font-size: 22px;
            padding: 10px;
    
            h1{
                margin: 8px;
            }
        }

        .dashboard-row{
            display: flex;
            justify-content: space-between;
            border-bottom: solid 1px lightgray;
            align-items: center;
            cursor: pointer;
            padding: 5px;

            &:last-child {
                border-bottom: none;
            }

            &:hover{
                background-color: rgb(221, 241, 248);
            }

            .col{
                width: 33%;
                padding: 5px;
            }

            &.header{
                font-weight: 600;
                &:hover{
                    background-color: #fff;
                }
            }
        }

        .empty {
            font-size: 16px;
            text-align: center;
            padding: 20px;

            p {
                margin: 0;
            }
        }
    }
}