<div class="dashboard">
  <div class="dashboard-header">
    <h1>Members</h1>
    <button class="btn btn-primary" [routerLink]="['/new-member']">Add member</button>
  </div>
  <div class="dashboard-row header">
    <div class="col">Name</div>
    <div class="col">Last Name</div>
  </div>
  <div  *ngIf="members.length">
    <div class="dashboard-row" *ngFor="let member of members" [routerLink]="['/detail', member.id]">
    <div class="col">{{member.data.name}}</div>
    <div class="col">{{member.data.lastName}}</div>
  </div>
  </div>
  
  <div *ngIf="!members.length" class="empty">
    <p>There is no member loaded.</p>
  </div>
</div>