<div class="details">
  <div class="details-header">
    <h1>New Member</h1>
    <i class="fa fa-check"></i>
  </div>
  <div class="details-body">
    <form [formGroup]="newMemberForm">
      <div class="information">
        <div class="control">
          <label for="name">Name</label>
          <input type="text" name="name" formControlName="name">
        </div>
        <div class="control">
          <label for="lastname">Lastname</label>
          <input type="text" name="lastname" formControlName="lastName">
        </div>
        <div class="control">
          <label for="adress">Adress</label>
          <input type="text" name="adress" formControlName="adress">
        </div>
        <div class="control">
          <label for="phone">Phone</label>
          <input type="text" name="phone" formControlName="phone">
        </div>
        <div class="control">
          <label for="email">Email</label>
          <input type="email" name="email" formControlName="email">
        </div>
        <div class="footer">
          <button class="btn btn-primary" (click)="create()" [disabled]="!newMemberForm.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>