:host{
    display: flex;
    width: 500px;
    margin: auto;
    
    .details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px;
        -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
        box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);

        .details-header{
            background-color: #1f7a98;
            text-align: center;
            color: #fff;
            font-size: 22px;
            padding: 10px;

            h1{
                margin: 8px;
            }
        }

        .details-body{
            min-height: 200px;
            .profile{

            }
            .information{
                padding: 12px;

                .footer {
                    text-align: right;
                    padding: 30px;

                    .btn {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
}